# Task A
Please create a tuple consists of your name and surname then 

please write a code that will find out which letter is in this tuple how many times.

In [ ]:
def count_letter(tuplex):     # this function takes input, then convert it to a tuple
  tuple(tuplex)
  for i in tuplex:            # counts the letter in the tuple
    print(i,tuplex.count(i))

In [ ]:
tuplex = input('Please enter your name and surname: ')

Please enter your name and surname: gozde gozutok

In [ ]:
count_letter(tuplex) # we need to print every letter once.

g 2
o 3
z 2
d 1
e 1
  1
g 2
o 3
z 2
u 1
t 1
o 3
k 1

I did little modification to count_letter function

In [ ]:
def count_letter(tuplex):     # this function takes input, then convert it to a tuple
  tuple(tuplex)
  for i in set(tuplex):            # I converted to a set because i need distinct letters
    print(i,tuplex.count(i))

In [ ]:
tuplex = input('Please enter your name and surname: ')

Please enter your name and surname: tuna cakar

In [ ]:
count_letter(tuplex) # we need to print every letter once.

a 3
c 1
r 1
k 1
  1
n 1
t 1
u 1

In [ ]:
count_letter(('gozde gozutok'))

o 3
k 1
d 1
g 2
e 1
  1
u 1
t 1
z 2

In [ ]:
count_letter('up school data analysis')

i 1
a 4
c 1
o 2
d 1
  3
s 3
n 1
y 1
u 1
t 1
h 1
p 1
l 2

# Task B
* Provide a piece of Python code to replace last value of tuples in a list

In [ ]:
def replace_list(listx):    # this function replace last value of tuples with 100
   print([x[:-1]+(100,) for x in listx])

In [ ]:
listx = [(1, 2, 4,5,3), (40, 50, 60), (7, 8, 9)]
replace_list(listx)

[(1, 2, 4, 5, 100), (40, 50, 100), (7, 8, 100)]

In [ ]:
replace_list([(1,2,3,4,5)])

[(1, 2, 3, 4, 100)]

In [ ]:
replace_list([(10,10),(20,20),(30,30)])

[(10, 100), (20, 100), (30, 100)]

In [ ]:
replace_list([(10,10),(10,10)])

[(10, 100), (10, 100)]

# Task C

Write a Python program to convert a given tuple of positive integers to an integer.

e.g. -> original tuple (1, 2, 3) --> output: 123

In [ ]:
def tuple_convert(tuplex):                      # this function convert the tuple into an integer
  integer = ''.join(str(x) for x in tuplex)     # firstly converted tuple into a string then jion every element
  print(int(integer))

In [ ]:
tuple_convert((1,2,3))

123

In [ ]:
tuple_convert((23,13,56))

231356

In [ ]:
tuple_convert((10, 20, 30, 40, 50))

1020304050

In [ ]:
tuple_convert((1,1,1,1,1,1,1))

1111111

# Task D

Write a python program to find the largest integer in a tuple

e.g (12, 40,2) --> output: 40

In [ ]:
def max_tuple(tuplex):         # this function finds max value of a tuple
  max = tuplex[0]
  for i in range(0,len(tuplex)):
    if (tuplex[i]>max):
      max =tuplex[i]
    else:
      i=i+1
  print( max)

In [ ]:
max_tuple((10,20,30))

30

In [ ]:
max_tuple((123, 45, 67, 300, 49))

300

In [ ]:
max_tuple((300,200,100,20,34,50))

300

In [ ]:
max_tuple((10,10,10))

10

This max_tuple function is working but I want to solve it with short steps. 

I did some modifications.

In [ ]:
def max_int(tuplex):  # this function takes tuple containing integer numbers and find max value of the tuple
  max = tuplex[0]
  for i in tuplex:
    if (i>max):
      max=i

  print(max)

In [ ]:
max_int((100,20,30))

100

In [ ]:
max_int((1,2,3))

3

In [ ]:
max_int((230,300,200,400,2))

400

In [ ]:
max_int((0,40,2,3,4,67))

67

In [ ]:
max_int((54,54,54,54))

54