# Task - A
* Please write a function that will calculate the difference between two sets such as A and B without explicitly calculating the intersection but implicitly inside a procedure/method.

In [ ]:
def set_differ(set1, set2):          # I created set_differ function which takes two inputs

  intersection_set=set()             # then as an empty set I created intersection_Set

  for i in set1:                     # firstly, I determined to intersection set with for loops
    for j in set2:
      if (i==j):
        intersection_set.add(j)
  print('Intersection set is :',intersection_set)

 
  for j in intersection_set:       # then I looked difference between first given set and an intersection set
    set1.remove(j)
    
  print('Difference set is: ',set1)   # finally, decided to set1 difference set2

In [ ]:

set1= set()                                              # There are a lot of rows here, I created two empty sets 
set2= set()
set1_len=int(input('Please write size of the set: '))    # then, I take lengths of the sets for the loops below
set2_len=int(input('Please write size of the set: '))

for i in range(set1_len):
  element = input('Write elements of the set: ')         # here I took every elements one-by-one
  set1.add(element)
  
print('Set1 is:',set1)                                   # I did this to see sets although it is not needed.

for i in range(set2_len):
    element = input('Write elements of the set: ')
    set2.add(element)
  
print('Set2 is :',set2)

set_differ(set1, set2)     # finally I called the function.

Please write size of the set: 3
Please write size of the set: 3
Write elements of the set: 1
Write elements of the set: 2
Write elements of the set: 3
Set1 is: {'1', '2', '3'}
Write elements of the set: 4
Write elements of the set: 2
Write elements of the set: 3
Set2 is : {'4', '2', '3'}
Intersection set is : {'2', '3'}
Difference set is:  {'1'}

In [ ]:
set1 = {'red', 'blue', 'green', 'orange'}    # If we give the sets ready, function works like
set2 = { 'blue', 23, 1, 8, 'green'}
set_differ(set1, set2)

Intersection set is : {'green', 'blue'}
Difference set is:  {'orange', 'red'}

In [ ]:
set1 = {'red', 'blue', 'green', 'orange', 1, 2, 4, 23, 7}   
set2 = { 'blue', 23, 1, 8, 'green','purple', 13}
set_differ(set1, set2)

Intersection set is : {'green', 1, 'blue', 23}
Difference set is:  {2, 4, 7, 'orange', 'red'}

In [ ]:
set1={}
set2={1,2,3}
set_differ(set1, set2)

Intersection set is : set()
Difference set is:  {}

In [ ]:
set1={1,2,3}
set2={1,2,3}
set_differ(set1, set2)

Intersection set is : {1, 2, 3}
Difference set is:  set()

# Task B
* Please provide a dictionary in python filed with meaninful 10 items.

Then please use remove/iteration/update methods to manipulate the dictionary

In [ ]:
Cities ={'01':'Adana', '06':'Ankara','07':'Antalya','09':'Aydın', '16':'Bursa', '27':'Gaziantep','31':'Hatay','33':'Mersin','34':'İstanbul', '35':'İzmir'}

In [ ]:
Cities

{'01': 'Adana',
 '06': 'Ankara',
 '07': 'Antalya',
 '09': 'Aydın',
 '16': 'Bursa',
 '27': 'Gaziantep',
 '31': 'Hatay',
 '33': 'Mersin',
 '34': 'İstanbul',
 '35': 'İzmir'}

In [ ]:
len(Cities)

10

In [ ]:
Cities.values()

dict_values(['Adana', 'Ankara', 'Antalya', 'Aydın', 'Bursa', 'Gaziantep', 'Hatay', 'Mersin', 'İstanbul', 'İzmir'])

In [ ]:
Cities.keys()

dict_keys(['01', '06', '07', '09', '16', '27', '31', '33', '34', '35'])

In [ ]:
for keys, values in Cities.items():
  print(keys)
  print(values)
  print(values, 'corresponds to ', keys)
  print('-------------------------------')

01
Adana
Adana corresponds to  01
-------------------------------
06
Ankara
Ankara corresponds to  06
-------------------------------
07
Antalya
Antalya corresponds to  07
-------------------------------
09
Aydın
Aydın corresponds to  09
-------------------------------
16
Bursa
Bursa corresponds to  16
-------------------------------
27
Gaziantep
Gaziantep corresponds to  27
-------------------------------
31
Hatay
Hatay corresponds to  31
-------------------------------
33
Mersin
Mersin corresponds to  33
-------------------------------
34
İstanbul
İstanbul corresponds to  34
-------------------------------
35
İzmir
İzmir corresponds to  35
-------------------------------

In [ ]:
Cities.clear()

In [ ]:
Cities

{}

# Task - C
* Please provide a dictionary in python filled with 20 numeric values with different keys.

Please find the max, min value and range of the dictionary

I created dictionary randomly. I looked max, min and range of the dictionary.

In [101]:
MyDict={'a':100, 'b':23, 'c': 345, 'd':120, 'e':175, 'f':250, 'g':600, 'h':34, 'i':450, 'j':13, 'k':50, 'l':45, 'm':25, 'n':200, 'p':9, 
        'r':30, 's':24, 't':70, 'u':80, 'z':29}

In [102]:
len(MyDict)

20

In [103]:
max= MyDict['a']                     # I assigned first value of the dictionary as max value
for keys, values in MyDict.items():  # then loop determines the max one
  if values>max:
    max=values
  
print('Maximum value in MyDict is:',max)

Maximum value in MyDict is: 600

In [104]:
min = MyDict['a']                    # I assigned first value of the dictionary as min value
for keys, values in MyDict.items():  # In the loop when values smaller than the min value it is changed as min .
  if values<min:
    min=values

print('Minimum value in MyDict is:', min)

Minimum value in MyDict is: 9

In [105]:
range = max- min      # range is difference between max and the min values.
range

591

# Task-D
* Please provide a function for that will take dictionary and variable srting.
* Then provide a relevant output as a printed output. That is if variable is in dictionary print has variable if not print there is no variable in dictionary

In [ ]:
def is_variable_in_dict(Mydict, var):    # this function takes two inputs: first one is dictionary and second one is string

  if var in Mydict:                      # controls if var is in dictionary, then look for its count 
    if Mydict[var]>0:
      print(Mydict, 'has ', Mydict[var],var)
    else:
      print('No',var, 'left')
  else:                                  # if var is not in dictionary 
    print('No ', var,)

In [ ]:
#I wrote it to create a dictionary by writing individual elements.

Mydict_len = int(input('Please write the length of the dictionary: '))   # first I took length of the dict.
while i<Mydict_len:
  keys = input("Enter key for Mydict:")                                  # in the while-loop I take keys and values separately 
  values = int(input("Enter value for Mydict:"))         
  Mydict={}
  Mydict[keys] = values
  i= i+1
    
varr=input('Please write a variable ')

is_variable_in_dict(Mydict, varr)                                        # and send it to is_variable_in_dict function.

Please write the length of the dictionary: 2
Enter key for Mydict:'banana'
Enter value for Mydict:2
Enter key for Mydict:'apple'
Enter value for Mydict:0
Please write a variable 'apple'
No 'apple' left

In [ ]:
vegetables={'corn':10, 'lettuce':2, 'cucumber':0, 'garlic':1, 'leek':0}
var = 'corn'
is_variable_in_dict(vegetables, var)

{'corn': 10, 'lettuce': 2, 'cucumber': 0, 'garlic': 1, 'leek': 0} has  10 corn

In [ ]:
fruits={'mango':5, 'apple':2, 'orange':0, 'banana':1, 'cheery':0}
var = 'orange'
is_variable_in_dict(fruits, var)

No orange left

In [ ]:
fruits={'mango':5, 'apple':2, 'orange':0, 'banana':1, 'cheery':0}
var = 'mango'
is_variable_in_dict(fruits, var)

{'mango': 5, 'apple': 2, 'orange': 0, 'banana': 1, 'cheery': 0} has  5 mango

# Task - E
* In the search of a triangle
* Please get three input values as numbers  from user one-by-one.
* Put them in a list.
* Suppose that these are the lengths of a triangle.
* Determine whether this is a possible triangle or not
* If yes please calculate the perimeter and area of the triangle and print all of the calculated values as an output.

In [ ]:
import math

In [ ]:
def triangle(a, b, c):                       # this function determines from 3 sides if there can be a triangle
  if abs(a-c)<b<(a+c):                       # if possible calculate perimeter and the area
    perimeter = (a+b+c)
    s = (perimeter/2)
    print('Perimeter is :', perimeter)
    area=math.sqrt(s*(s-a)*(s-b)*(s-c))
    print('Area is :', area)
  else:                                                    # if not possible it states there cannot be a triangle with these edges.
    print('There cannot be a triangle with these sides.')

In [ ]:
# you can try for other edges here
Triangle_edges=[]                                  # empty list for edges
a=int(input('Please enter the first edge: '))      # to take 3 edeges separately I use input func.
Triangle_edges.append(a)
b=int(input('Please enter the first edge: '))
Triangle_edges.append(b)
c=int(input('Please enter the first edge: '))
Triangle_edges.append(c)
print(Triangle_edges)

triangle(a, b,c )

Please enter the first edge: 5
Please enter the first edge: 12
Please enter the first edge: 13
[5, 12, 13]
Perimeter is : 30
Area is : 30.0

In [ ]:
triangle(5,12,13)

Perimeter is : 30
Area is : 30.0

In [ ]:
triangle(1,5,7)

There cannot be a triangle with these sides.

In [ ]:
triangle(9,12,15)

Perimeter is : 36
Area is : 54.0

In [ ]:
Triangle_edges=[]
a=int(input('Please enter the first edge: '))           # we can also solve this problem without function
Triangle_edges.append(a)                                # we take three inputs and decide to these 3 sides whether can create a triangle or not
b=int(input('Please enter the first edge: '))
Triangle_edges.append(b)
c=int(input('Please enter the first edge: '))
Triangle_edges.append(c)

if abs(a-c)<b<(a+c):
  perimeter = (a+b+c)         
  s = (perimeter/2)
  print('Perimeter is :', perimeter) 
  area=math.sqrt(s*(s-a)*(s-b)*(s-c))
  print('Area is :', area)
else:
  print('There cannot be a triangle with these sides.')

Please enter the first edge: 6
Please enter the first edge: 8
Please enter the first edge: 10
Perimeter is : 24
Area is : 24.0