# Task A 

Sum Function: summation of the entered number from 1 to n
*  Only defined for nonnegative numbers.

In [ ]:
def sum(num):                        # this function calculates the summation of the entered number(num) from 1 to n
  if num>=0:                         # uses for-loop
    total_sum = 0                   
    for i in range(1,num+1):
      total_sum = total_sum + i

    return total_sum
  
  else:                                            # to prevent taking negative numbers, I used else statement.
    print('Please, enter nonnegative numbers!')

In [ ]:
sum(5)

15

In [ ]:
sum(3)

6

In [ ]:
sum(0)

0

In [ ]:
sum(-6)

Please, enter nonnegative numbers!

Production Function
*

In [ ]:
def production(num):                # The product function returns the product of numbers from 1 to the number entered.
  total = 1
  for i in range(1,num+1):
    total = total*i
    
  return total

In [ ]:
production(4)

24

In [ ]:
production(3)

6

In [ ]:
production(-2) # when we enter negative number production function gives wrong answer.

1

Let's rearrange this function including zero and negative numbers.
* Like factorial function

In [ ]:
def productionn(num):   
  if num>0:                          # when numbers are positive it works like factorial function.
    total = 1
    for i in range(1,num+1):
      total = total*i

    return total

  elif (num==0):                     # when number is 0, it gives 1
    total = 1
    return total

  else:     
    print("Factorial function doesn't  work on negative values.\n ")  
    print("Please enter nonnegative numbers") 

    # total = 1                       # Although factorial function doesn't define for negative numbers                               
    # for i in range(num,0):          # when number is negative If we come to -1 by increasing the negative number from the entered value
    #   total = total*i               #  we would write such a function.
    # return total

In [ ]:
productionn(0)

1

In [ ]:
productionn(4)

24

In [ ]:
productionn(-4)

Factorial function doesn't  work on negative values.

Please enter nonnegative numbers

In [ ]:
productionn(-5)

Factorial function doesn't  work on negative values.

Please enter nonnegative numbers

In [ ]:
productionn(2)

2

In [ ]:
productionn(10) # below I tested via python function factorial.

3628800

In [ ]:
import math
math.factorial(0)

1

In [ ]:
math.factorial(10) # to test validation of the function I used factorial function.

3628800

# Task B
* Write a function that will calculate the sum of positive integers between 
* num1 and
* num2 with the given incrementation value.

In [ ]:
def sum_between(num1, num2, inc):
  total = num1
  sum = 0
  for i in range(num1,num2+1, inc):  # in the loop we incremented num2 because we wnat to add num2 also.
    sum = sum + total
    total = total + inc
    
  return sum

In [ ]:
sum_between(1,5,2)

9

In [ ]:
sum_between(1,10,3)

22

In [ ]:
sum_between(3,5,2)

8

In [ ]:
sum_between(5,15,2)

60

In [ ]:
sum_between(2,20,5)

38

# Task C
* Summation: 1 to n... sum . This time with while statement

In [ ]:
def summation(num):                      # this function add numbers from 1 to entered number 'num'
  if num>=0:                             # uses while loop
    sum = 0 
    i = 1                  
    while i <= num:
      sum = sum + i
      i = i + 1

    return sum
  
  else:
    print('Please, enter nonnegative numbers!')

In [ ]:
summation(2)

3

In [ ]:
summation(5)

15

In [ ]:
summation(0)

0

In [ ]:
summation(-2)

Please, enter nonnegative numbers!

In [ ]:
summation(-100)

Please, enter nonnegative numbers!

# Task D
* Please write a product function but this time with
the use of while loop (instead of for loop).

In [ ]:
def production2(num):   
  if num>=0:                          
    total = 1
    i = 1
    while(i<=num):
      total = total*i
      i = i + 1

    return total


  else:     
    print("Factorial function doesn't  work on negative values.\n ")  
    print("Please enter nonnegative numbers")

In [ ]:
production2(3)

6

In [ ]:
production2(4)

24

In [ ]:
production2(0) # since I use this function like factorial function 0! equals to 1

1

In [ ]:
production2(-2)

Factorial function doesn't  work on negative values.

Please enter nonnegative numbers

In [ ]:
production2(-58)

Factorial function doesn't  work on negative values.

Please enter nonnegative numbers

# Task E
* Write a function that will calculate the sum of positive integers between num1 and
num2 with the given incrementation value (num3) with the use of a while loop.
* For instance:
* 5.....15....2
* 5 + 7 + 9 + 11 + 13 + 15 = 60
* Please provide 5 test conditions and check whether the outputs are as expected or not.

In [ ]:
def sum_bet(num1, num2, num3):
  i = num1
  sum = 0
  while (i <=num2):
    sum = sum + i
    i = i + num3
    
  return sum

In [ ]:
sum_bet(5,10,2)

21

In [ ]:
sum_bet(5,11,2)

32

In [ ]:
sum_bet(5,15,2)

60

In [ ]:
sum_bet(2,6,1)

20

In [ ]:
sum_bet(1,5,2)

9