In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [ ]:
!unzip UP-DA2-P2.zip

Archive:  UP-DA2-P2.zip
replace patcomp-p1.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

PART A

We are working with patcomp data.

1. Determine the accuracy (correct response rates) for three participants.
2. Calculate the correct response rates for "same" and "diff" conditions.
3. Calculate the reaction time average with respect to the correct responses.
4. Neglect the reaction times of the incorrect responses.

# Determine the accuracy (correct response rates) for three participants.

In [ ]:
def accuracyrate(data):
  true_count = 0
  for i in range(len(data)):
      if data.iloc[i]['corr']==1:
        true_count+=1
  print('Length of the data data is:', len(data))

  print('Correct response count is: ', true_count)
  print('Correct response rate ', true_count/(len(data)))

In [ ]:
accuracyrate(patcomp1)

Length of the data data is: 60
Correct response count is:  56
Correct response rate  0.9333333333333333

In [ ]:
accuracyrate(patcomp2)

Length of the data data is: 60
Correct response count is:  58
Correct response rate  0.9666666666666667

In [ ]:
accuracyrate(patcomp3)

Length of the data data is: 60
Correct response count is:  58
Correct response rate  0.9666666666666667

# Correct response rates for "same" and "diff" conditions.

In [ ]:
patcomp1 = pd.read_csv('patcomp-p1.csv')
patcomp1.head()

         subnum  trial samediff          mat1  ...  abstime    rt      resp corr
0  Ahmetpattern      1     same  1.000000e+13  ...    43367  1991  <rshift>    0
1  Ahmetpattern      2     same  1.010000e+14  ...    45813   932  <lshift>    1
2  Ahmetpattern      3     same  1.100000e+14  ...    47197  1215  <lshift>    1
3  Ahmetpattern      4     same  1.010000e+14  ...    48865  1090  <lshift>    1
4  Ahmetpattern      5     diff  1.000000e+14  ...    50394  1056  <rshift>    1

[5 rows x 9 columns]

In [ ]:
same_true_count = 0
diff_true_count = 0
for i in range(len(patcomp1)):
  if patcomp1.iloc[i]['samediff']=='same':
    if patcomp1.iloc[i]['corr']==1:
      same_true_count+=1
  if patcomp1.iloc[i]['samediff']=='diff':
    if patcomp1.iloc[i]['corr']==1:
      diff_true_count+=1
print('Length of the patcomp1 data is:', len(patcomp1))
print('Length of the patcomp1 data when samediff is equal to same:',patcomp1[patcomp1['samediff']=='same']['corr'].count())
print('When samediff is equal to same, correct response count is: ', same_true_count)
print('When samediff is equal to same, correct response count is: ', same_true_count/(patcomp1[patcomp1['samediff']=='same']['corr'].count()))
print('Length of the patcomp1 data when samediff is equal to diff:',patcomp1[patcomp1['samediff']=='diff']['corr'].count())
print('When samediff is equal to diff, correct response count is: ', diff_true_count)
print('When samediff is equal to diff, correct response count is: ', diff_true_count/(patcomp1[patcomp1['samediff']=='diff']['corr'].count()))

Length of the patcomp1 data is: 60
Length of the patcomp1 data when samediff is equal to same: 30
When samediff is equal to same, correct response count is:  27
When samediff is equal to same, correct response count is:  0.9
Length of the patcomp1 data when samediff is equal to diff: 30
When samediff is equal to diff, correct response count is:  29
When samediff is equal to diff, correct response count is:  0.9666666666666667

In [ ]:
patcomp2 = pd.read_csv('patcomp-p2.csv')
patcomp2.head()

              subnum  trial samediff  ...    rt      resp  corr
0  Cengizhocapattern      1     diff  ...  4320  <rshift>     1
1  Cengizhocapattern      2     same  ...  3040  <lshift>     1
2  Cengizhocapattern      3     same  ...  3616  <lshift>     1
3  Cengizhocapattern      4     diff  ...  9305  <rshift>     1
4  Cengizhocapattern      5     same  ...  2780  <lshift>     1

[5 rows x 9 columns]

In [ ]:
same_true_count = 0
diff_true_count = 0
for i in range(len(patcomp2)):
  if patcomp2.iloc[i]['samediff']=='same':
    if patcomp2.iloc[i]['corr']==1:
      same_true_count+=1
  if patcomp2.iloc[i]['samediff']=='diff':
    if patcomp2.iloc[i]['corr']==1:
      diff_true_count+=1
print('Length of the patcomp2 data is:', len(patcomp2))
print('Length of the patcomp2 data when samediff is equal to same:',patcomp2[patcomp2['samediff']=='same']['corr'].count())
print('When samediff is equal to same, correct response count is: ', same_true_count)
print('When samediff is equal to same, correct response count is: ', same_true_count/(patcomp2[patcomp2['samediff']=='same']['corr'].count()))
print('Length of the patcomp2 data when samediff is equal to diff:',patcomp2[patcomp2['samediff']=='diff']['corr'].count())
print('When samediff is equal to diff, correct response count is: ', diff_true_count)
print('When samediff is equal to diff, correct response count is: ', diff_true_count/(patcomp2[patcomp2['samediff']=='diff']['corr'].count()))

Length of the patcomp2 data is: 60
Length of the patcomp2 data when samediff is equal to same: 30
When samediff is equal to same, correct response count is:  30
When samediff is equal to same, correct response count is:  1.0
Length of the patcomp2 data when samediff is equal to diff: 30
When samediff is equal to diff, correct response count is:  28
When samediff is equal to diff, correct response count is:  0.9333333333333333

In [ ]:
patcomp3 = pd.read_csv('patcomp-p3.csv')
patcomp3.head()

              subnum  trial samediff  ...    rt      resp  corr
0  emiraltan2pattern      1     same  ...  1818  <lshift>     1
1  emiraltan2pattern      2     diff  ...   852  <rshift>     1
2  emiraltan2pattern      3     diff  ...   862  <rshift>     1
3  emiraltan2pattern      4     diff  ...   805  <rshift>     1
4  emiraltan2pattern      5     same  ...   924  <lshift>     1

[5 rows x 9 columns]

In [ ]:
same_true_count = 0
diff_true_count = 0
for i in range(len(patcomp3)):
  if patcomp3.iloc[i]['samediff']=='same':
    if patcomp3.iloc[i]['corr']==1:
      same_true_count+=1
  if patcomp3.iloc[i]['samediff']=='diff':
    if patcomp3.iloc[i]['corr']==1:
      diff_true_count+=1
print('Length of the patcomp3 data is:', len(patcomp3))
print('Length of the patcomp3 data when samediff is equal to same:',patcomp3[patcomp3['samediff']=='same']['corr'].count())
print('When samediff is equal to same, correct response count is: ', same_true_count)
print('When samediff is equal to same, correct response count is: ', same_true_count/(patcomp3[patcomp3['samediff']=='same']['corr'].count()))
print('Length of the patcomp3 data when samediff is equal to diff:',patcomp3[patcomp3['samediff']=='diff']['corr'].count())
print('When samediff is equal to diff, correct response count is: ', diff_true_count)
print('When samediff is equal to diff, correct response count is: ', diff_true_count/(patcomp3[patcomp3['samediff']=='diff']['corr'].count()))

Length of the patcomp3 data is: 60
Length of the patcomp3 data when samediff is equal to same: 30
When samediff is equal to same, correct response count is:  29
When samediff is equal to same, correct response count is:  0.9666666666666667
Length of the patcomp3 data when samediff is equal to diff: 30
When samediff is equal to diff, correct response count is:  29
When samediff is equal to diff, correct response count is:  0.9666666666666667

# All process above with function

In [ ]:
def responserate(data):
  same_true_count = 0
  diff_true_count = 0
  for i in range(len(data)):
    if data.iloc[i]['samediff']=='same':
      if data.iloc[i]['corr']==1:
        same_true_count+=1
    if data.iloc[i]['samediff']=='diff':
      if data.iloc[i]['corr']==1:
        diff_true_count+=1
  print('Length of the data data is:', len(data))
  print('Length of the data data when samediff is equal to same:',data[data['samediff']=='same']['corr'].count())
  print('When samediff is equal to same, correct response count is: ', same_true_count)
  print('When samediff is equal to same, correct response count is: ', same_true_count/(data[data['samediff']=='same']['corr'].count()))
  print('Length of the data data when samediff is equal to diff:',data[data['samediff']=='diff']['corr'].count())
  print('When samediff is equal to diff, correct response count is: ', diff_true_count)
  print('When samediff is equal to diff, correct response count is: ', diff_true_count/(data[data['samediff']=='diff']['corr'].count()))

In [ ]:
responserate(patcomp1)

Length of the data data is: 60
Length of the data data when samediff is equal to same: 30
When samediff is equal to same, correct response count is:  27
When samediff is equal to same, correct response count is:  0.9
Length of the data data when samediff is equal to diff: 30
When samediff is equal to diff, correct response count is:  29
When samediff is equal to diff, correct response count is:  0.9666666666666667

In [ ]:
responserate(patcomp2)

Length of the data data is: 60
Length of the data data when samediff is equal to same: 30
When samediff is equal to same, correct response count is:  30
When samediff is equal to same, correct response count is:  1.0
Length of the data data when samediff is equal to diff: 30
When samediff is equal to diff, correct response count is:  28
When samediff is equal to diff, correct response count is:  0.9333333333333333

In [ ]:
responserate(patcomp3)

Length of the data data is: 60
Length of the data data when samediff is equal to same: 30
When samediff is equal to same, correct response count is:  29
When samediff is equal to same, correct response count is:  0.9666666666666667
Length of the data data when samediff is equal to diff: 30
When samediff is equal to diff, correct response count is:  29
When samediff is equal to diff, correct response count is:  0.9666666666666667

# Reaction time average with respect to the correct responses.

I will calculates average reaction time with respect to three cases.

When samediff=='same' i will calculate avg reaction time

When samediff=='diff' i will calculate avg reaction time

and also general avg reaction time

In [ ]:
count = 0
rt_Same = 0
for i in range(len(patcomp3)):
  if patcomp3.iloc[i]['samediff']=='same':
    if patcomp3.iloc[i]['corr']==1:
      rt_Same = rt_Same + patcomp3.iloc[i]['rt']
      count+=1
avg_rt = rt_Same/count
print('Mean value is:', avg_rt)

Mean value is: 921.8620689655172

In [ ]:
count=0
rt_Diff=0
for i in range(len(patcomp3)):
   if patcomp3.iloc[i]['samediff']=='diff':
    if patcomp3.iloc[i]['corr']==1:
      rt_Diff = rt_Diff + patcomp3.iloc[i]['rt']
      count+=1
avg_rt = rt_Diff/count
print('Mean value is:', avg_rt)

Mean value is: 892.6551724137931

In [ ]:
count=0
rt_general=0
for i in range(len(patcomp3)):
  if patcomp3.iloc[i]['corr']==1:
      rt_general = rt_general + patcomp3.iloc[i]['rt']
      count+=1
avg_rt = rt_general/count
print('Mean value is:', avg_rt)

Mean value is: 907.2586206896551

# Neglect the reaction times of the incorrect responses.

In [ ]:
patcomp1[patcomp1['corr']==1]['rt'].mean() # mean of reaction time when wrong answers neglected

1070.2857142857142

In [ ]:
patcomp2[patcomp2['corr']==1]['rt'].mean() # mean of reaction time when wrong answers neglected

2818.2758620689656

In [ ]:
patcomp3[patcomp3['corr']==1]['rt'].mean() # mean of reaction time when wrong answers neglected

907.2586206896551


# ** PART B **
We are working with rotate data (without practice trials).

Determine the accuracy (correct response rates) for three participants.

Calculate the correct response rates for "0" and "1" conditions.

Calculate the mean value.

Calculate the mean values for "0" and "1" conditions.

# Determine the accuracy (correct response rates) for three participants.

In [ ]:
len(rotate_1[rotate_1['cond']==rotate_1['cor']])/len(rotate_1)

0.453125

In [ ]:
len(rotate_2[rotate_2['cond']==rotate_2['cor']])/len(rotate_2)

0.546875

In [ ]:
len(rotate_3[rotate_3['cond']==rotate_3['cor']])/len(rotate_3)

0.4375

# Correct response rates for three participants

In [ ]:
rotate1 = pd.read_csv('rotate-p1.csv')
rotate_1 = rotate1[rotate1['type']=='TEST']
rotate_1.head()

       subNum  type  trialnum  cond  stimid  rot      resp  cor    rt
4  Ahmetrotas  TEST         1     0       2    2  <LSHIFT>    1  1336
5  Ahmetrotas  TEST         2     0       1    2  <RSHIFT>    0  1819
6  Ahmetrotas  TEST         3     1       1   -1  <LSHIFT>    0  1274
7  Ahmetrotas  TEST         4     1       2    4  <RSHIFT>    1  1040
8  Ahmetrotas  TEST         5     0       2    0  <LSHIFT>    1  1086

In [ ]:
rotate_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 4 to 131
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   subNum    128 non-null    object
 1   type      128 non-null    object
 2   trialnum  128 non-null    int64
 3   cond      128 non-null    int64
 4   stimid    128 non-null    int64
 5   rot       128 non-null    int64
 6   resp      128 non-null    object
 7   cor       128 non-null    int64
 8   rt        128 non-null    int64
dtypes: int64(6), object(3)
memory usage: 10.0+ KB

In [ ]:
# with whole data
true_count=0
for i in range(len(rotate1)):
  if (rotate1.iloc[i]['cond']==rotate1.iloc[i]['cor']):
    true_count+=1

print('This results belongs to :',rotate1.iloc[0]['subNum'])
print('Length of the data is: ', len(rotate1))
print('True response count is:',true_count)
print('Correct response rates for "0" and "1" conditions:', (true_count/len(rotate1)))

This results belongs to : Ahmetrotas
Length of the data is:  132
True response count is: 60
Correct response rates for "0" and "1" conditions: 0.45454545454545453

In [ ]:
# Only with test data
true_count=0
for i in range(len(rotate_1)):
  if (rotate_1.iloc[i]['cond']==rotate_1.iloc[i]['cor']):
    true_count+=1

print('This results belongs to :',rotate_1.iloc[0]['subNum'])
print('Length of the data is: ', len(rotate_1))
print('True response count is:',true_count)
print('Correct response rates for "0" and "1" conditions:', (true_count/len(rotate_1)))

This results belongs to : Ahmetrotas
Length of the data is:  128
True response count is: 58
Correct response rates for "0" and "1" conditions: 0.453125

In [ ]:
rotate2 = pd.read_csv('rotate-p2.csv')
rotate_2= rotate2[rotate2['type']=='TEST']
rotate_2.head()

             subNum  type  trialnum  cond  stimid  rot      resp  cor    rt
4  cengizhocarotasy  TEST         1     0       1    0  <LSHIFT>    1  1427
5  cengizhocarotasy  TEST         2     1       2    4  <LSHIFT>    0  2842
6  cengizhocarotasy  TEST         3     1       2   -2  <RSHIFT>    1  1704
7  cengizhocarotasy  TEST         4     0       2   -3  <LSHIFT>    1  2014
8  cengizhocarotasy  TEST         5     0       1   -3  <LSHIFT>    1  1342

In [ ]:
true_count=0
for i in range(len(rotate_2)):
  if (rotate_2.iloc[i]['cond']==rotate_2.iloc[i]['cor']):
    true_count+=1

print('This results belongs to :',rotate_2.iloc[0]['subNum'])
print('Length of the data is: ', len(rotate_2))
print('True response count is:',true_count)
print('Correct response rates for "0" and "1" conditions:', (true_count/(len(rotate_2))))

This results belongs to : cengizhocarotasy
Length of the data is:  128
True response count is: 70
Correct response rates for "0" and "1" conditions: 0.546875

In [ ]:
rotate3 = pd.read_csv('rotate-p3.csv')
rotate_3= rotate3[rotate3['type']=='TEST']
rotate_3.head()

           subNum  type  trialnum  cond  stimid  rot      resp  cor    rt
4  emiraltan2rota  TEST         1     1       1   -3  <LSHIFT>    0  1445
5  emiraltan2rota  TEST         2     0       2    3  <LSHIFT>    1   821
6  emiraltan2rota  TEST         3     0       2    1  <LSHIFT>    1  1028
7  emiraltan2rota  TEST         4     0       1    2  <RSHIFT>    0  1051
8  emiraltan2rota  TEST         5     0       1    4  <LSHIFT>    1  1076

In [ ]:
true_count=0
for i in range(len(rotate_3)):
  if (rotate_3.iloc[i]['cond']==rotate_3.iloc[i]['cor']):
    true_count+=1

print('This results belongs to :',rotate_3.iloc[0]['subNum'])
print('Length of the data is: ', len(rotate_3))
print('True response count is:',true_count)
print('Correct response rates for "0" and "1" conditions:', (true_count/(len(rotate_3))))

This results belongs to : emiraltan2rota
Length of the data is:  128
True response count is: 56
Correct response rates for "0" and "1" conditions: 0.4375

# Again all process but this time with function

In [ ]:
def response_rate(data):
  true_count=0
  for i in range(len(data)):
    if (data.iloc[i]['cond']==data.iloc[i]['cor']):
      true_count+=1

  print('This results belongs to :',data.iloc[0]['subNum'])
  print('Length of the data is: ', len(data))
  print('True response count is:',true_count)
  print('Correct response rates for "0" and "1" conditions:', (true_count/(len(data))))

In [ ]:
response_rate(rotate_1)

This results belongs to : Ahmetrotas
Length of the data is:  128
True response count is: 58
Correct response rates for "0" and "1" conditions: 0.453125

In [ ]:
response_rate(rotate_2)

This results belongs to : cengizhocarotasy
Length of the data is:  128
True response count is: 70
Correct response rates for "0" and "1" conditions: 0.546875

In [ ]:
response_rate(rotate_3)

This results belongs to : emiraltan2rota
Length of the data is:  128
True response count is: 56
Correct response rates for "0" and "1" conditions: 0.4375


Calculate the correct response rates for "0" and "1" conditions.
---

In [ ]:
rotate_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 128 entries, 4 to 131
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   subNum    128 non-null    object
 1   type      128 non-null    object
 2   trialnum  128 non-null    int64
 3   cond      128 non-null    int64
 4   stimid    128 non-null    int64
 5   rot       128 non-null    int64
 6   resp      128 non-null    object
 7   cor       128 non-null    int64
 8   rt        128 non-null    int64
dtypes: int64(6), object(3)
memory usage: 10.0+ KB

In [ ]:
rotate_1.head()

       subNum  type  trialnum  cond  stimid  rot      resp  cor    rt
4  Ahmetrotas  TEST         1     0       2    2  <LSHIFT>    1  1336
5  Ahmetrotas  TEST         2     0       1    2  <RSHIFT>    0  1819
6  Ahmetrotas  TEST         3     1       1   -1  <LSHIFT>    0  1274
7  Ahmetrotas  TEST         4     1       2    4  <RSHIFT>    1  1040
8  Ahmetrotas  TEST         5     0       2    0  <LSHIFT>    1  1086

In [ ]:
# This is correct response rates for the first participant  Ahmet
cond_0_count = 0 # condition 0 count
cond_1_count = 0 # condition 1 count 
for i in range(len(rotate_1)):
  if (rotate_1.iloc[i]['cond']==0):                         # when condition is equal to zero it enters the if statement
    if (rotate_1.iloc[i]['cond']==rotate_1.iloc[i]['cor']): #  if cor value is equal to cond value cond_0_count increases
      cond_0_count+=1
  else:
    if(rotate_1.iloc[i]['cond']==rotate_1.iloc[i]['cor']):  # similar process above
      cond_1_count+=1

print('Condition 0 true count is:', cond_0_count)
print('Correct response rates for "0" condition is:', cond_0_count/len(rotate_1[rotate_1['cond']==0])) # here true count is divided by len of rotate_1[rotate_1['cond']==0
print('Condition 1 true count is:', cond_1_count)
print('Correct response rates for "1" condition is:', cond_1_count/len(rotate_1[rotate_1['cond']==1]))

Condition 0 true count is: 29
Correct response rates for "0" condition is: 0.453125
Condition 1 true count is: 29
Correct response rates for "1" condition is: 0.453125

In [ ]:
rotate_2.head()

             subNum  type  trialnum  cond  stimid  rot      resp  cor    rt
4  cengizhocarotasy  TEST         1     0       1    0  <LSHIFT>    1  1427
5  cengizhocarotasy  TEST         2     1       2    4  <LSHIFT>    0  2842
6  cengizhocarotasy  TEST         3     1       2   -2  <RSHIFT>    1  1704
7  cengizhocarotasy  TEST         4     0       2   -3  <LSHIFT>    1  2014
8  cengizhocarotasy  TEST         5     0       1   -3  <LSHIFT>    1  1342

In [ ]:
# This is correct response rates for the first participant  Cengiz Hoca
cond_0_count = 0 # condition 0 count
cond_1_count = 0 # condition 1 count 
for i in range(len(rotate_2)):
  if (rotate_2.iloc[i]['cond']==0):                         # when condition is equal to zero it enters the if statement
    if (rotate_2.iloc[i]['cond']==rotate_2.iloc[i]['cor']): #  if cor value is equal to cond value cond_0_count increases
      cond_0_count+=1
  else:
    if(rotate_2.iloc[i]['cond']==rotate_2.iloc[i]['cor']):  # similar process above
      cond_1_count+=1

print('Condition 0 true count is:', cond_0_count)
print('Correct response rates for "0" condition is:', cond_0_count/len(rotate_2[rotate_2['cond']==0])) # here true count is divided by len of rotate_1[rotate_1['cond']==0
print('Condition 1 true count is:', cond_1_count)
print('Correct response rates for "1" condition is:', cond_1_count/len(rotate_2[rotate_2['cond']==1]))

Condition 0 true count is: 32
Correct response rates for "0" condition is: 0.5
Condition 1 true count is: 38
Correct response rates for "1" condition is: 0.59375

In [ ]:
rotate_3.head()

           subNum  type  trialnum  cond  stimid  rot      resp  cor    rt
4  emiraltan2rota  TEST         1     1       1   -3  <LSHIFT>    0  1445
5  emiraltan2rota  TEST         2     0       2    3  <LSHIFT>    1   821
6  emiraltan2rota  TEST         3     0       2    1  <LSHIFT>    1  1028
7  emiraltan2rota  TEST         4     0       1    2  <RSHIFT>    0  1051
8  emiraltan2rota  TEST         5     0       1    4  <LSHIFT>    1  1076

In [ ]:
# This is correct response rates for the first participant  Emir altan
cond_0_count = 0 # condition 0 count
cond_1_count = 0 # condition 1 count 
for i in range(len(rotate_3)):
  if (rotate_3.iloc[i]['cond']==0):                         # when condition is equal to zero it enters the if statement
    if (rotate_3.iloc[i]['cond']==rotate_3.iloc[i]['cor']): #  if cor value is equal to cond value cond_0_count increases
      cond_0_count+=1
  else:
    if(rotate_3.iloc[i]['cond']==rotate_3.iloc[i]['cor']):  # similar process above
      cond_1_count+=1

print('Condition 0 true count is:', cond_0_count)
print('Correct response rates for "0" condition is:', cond_0_count/len(rotate_3[rotate_3['cond']==0])) # here true count is divided by len of rotate_1[rotate_1['cond']==0
print('Condition 1 true count is:', cond_1_count)
print('Correct response rates for "1" condition is:', cond_1_count/len(rotate_3[rotate_3['cond']==1]))

Condition 0 true count is: 26
Correct response rates for "0" condition is: 0.40625
Condition 1 true count is: 30
Correct response rates for "1" condition is: 0.46875

# !!! I lost a lot of time because I did not write functionally, I rewrote the operations I did above in the function.

In [ ]:
def correct_rate(df):  # This is correct response rates function
  cond_0_count = 0 # condition 0 count
  cond_1_count = 0 # condition 1 count 
  for i in range(len(df)):
    if (df.iloc[i]['cond']==0): # when condition is equal to zero it enters the if statement
      if (df.iloc[i]['cond']==df.iloc[i]['cor']): #  if cor value is equal to cond value cond_0_count increases
        cond_0_count+=1
    else:
      if(df.iloc[i]['cond']==df.iloc[i]['cor']):  # similar process above
        cond_1_count+=1

  print('Condition 0 true count is:', cond_0_count)
  print('Correct response rates for "0" condition is:', cond_0_count/len(df[df['cond']==0]))  
  print('Condition 1 true count is:', cond_1_count)
  print('Correct response rates for "1" condition is:', cond_1_count/len(df[df['cond']==1]))

In [ ]:
correct_rate(rotate_1) #This is correct response rates for the first participant  Ahmet

Condition 0 true count is: 29
Correct response rates for "0" condition is: 0.453125
Condition 1 true count is: 29
Correct response rates for "1" condition is: 0.453125

In [ ]:
correct_rate(rotate_2) # This is correct response rates for the first participant  Cengiz Hoca

Condition 0 true count is: 32
Correct response rates for "0" condition is: 0.5
Condition 1 true count is: 38
Correct response rates for "1" condition is: 0.59375

In [ ]:
correct_rate(rotate_3) # This is correct response rates for the first participant  Emir altan

Condition 0 true count is: 26
Correct response rates for "0" condition is: 0.40625
Condition 1 true count is: 30
Correct response rates for "1" condition is: 0.46875

# Calculate the mean value.

In [ ]:
rotate_1['rt'].mean()

1887.6015625

In [ ]:
rotate_2['rt'].mean()

1542.65625

In [ ]:
rotate_3['rt'].mean()

980.734375

# Calculate the mean values for "0" and "1" conditions.

In [ ]:
rotate_1[rotate_1['cond']==0]['rt'].mean()

1875.96875

In [ ]:
rotate_1[rotate_1['cond']==1]['rt'].mean()

1899.234375

In [ ]:
rotate_2[rotate_2['cond']==0]['rt'].mean()

1544.3125

In [ ]:
rotate_2[rotate_2['cond']==1]['rt'].mean()

1541.0

In [ ]:
rotate_3[rotate_3['cond']==0]['rt'].mean()

940.578125

In [ ]:
rotate_3[rotate_3['cond']==1]['rt'].mean()

1020.890625

# PART C
1. Merge the dataframes from Part A (df1) and Part B (df2).
2. Calculate the all descriptive (mean, median, max, min, std) for all columns in a separate
dataframe.
3. Extract these dataframes as csv and excel files.
4. Make this process automated. This means the code should run from one end to the other
without any intervention.

In part A, we have patcomp1, patcomp2 and patcomp3 data

I will merge these three data, let's say to it df1

In [ ]:
frames = [patcomp1, patcomp2, patcomp3]

df1 = pd.concat(frames)

In [ ]:
df1 # we have 180 rows, there is exactly 60 rows in every patcomp data

               subnum  trial samediff  ...    rt      resp  corr
0        Ahmetpattern      1     same  ...  1991  <rshift>     0
1        Ahmetpattern      2     same  ...   932  <lshift>     1
2        Ahmetpattern      3     same  ...  1215  <lshift>     1
3        Ahmetpattern      4     same  ...  1090  <lshift>     1
4        Ahmetpattern      5     diff  ...  1056  <rshift>     1
..                ...    ...      ...  ...   ...       ...   ...
55  emiraltan2pattern     56     diff  ...   786  <rshift>     1
56  emiraltan2pattern     57     same  ...  1080  <lshift>     1
57  emiraltan2pattern     58     same  ...  1177  <rshift>     0
58  emiraltan2pattern     59     diff  ...   945  <rshift>     1
59  emiraltan2pattern     60     same  ...   945  <lshift>     1

[180 rows x 9 columns]

In [ ]:
frames2 = [rotate_1, rotate_2, rotate_3]
df2 = pd.concat(frames2)
df2

             subNum  type  trialnum  cond  stimid  rot      resp  cor    rt
4        Ahmetrotas  TEST         1     0       2    2  <LSHIFT>    1  1336
5        Ahmetrotas  TEST         2     0       1    2  <RSHIFT>    0  1819
6        Ahmetrotas  TEST         3     1       1   -1  <LSHIFT>    0  1274
7        Ahmetrotas  TEST         4     1       2    4  <RSHIFT>    1  1040
8        Ahmetrotas  TEST         5     0       2    0  <LSHIFT>    1  1086
..              ...   ...       ...   ...     ...  ...       ...  ...   ...
127  emiraltan2rota  TEST       124     1       1    1  <RSHIFT>    1  1038
128  emiraltan2rota  TEST       125     0       1    1  <RSHIFT>    0  1178
129  emiraltan2rota  TEST       126     0       2    0  <LSHIFT>    1   427
130  emiraltan2rota  TEST       127     0       1   -2  <LSHIFT>    1  1156
131  emiraltan2rota  TEST       128     1       2   -3  <RSHIFT>    1   750

[384 rows x 9 columns]

Calculate the all descriptive (mean, median, max, min, std) for all columns in a separate dataframe.

In [ ]:
cols = ['mat1', 'mat2', 'abstime', 'rt']   # DESCRPTIVE ANALYSIS

mean = df1[cols].mean()
max = df1[cols].max()
min = df1[cols].min()
std = df1[cols].std()
median = df1[cols].median()

frame = { 'Mean': mean, 'Max': max, 'Min': min, 'Std':std, 'Median':median}
pd.DataFrame(frame)

                 Mean           Max           Min           Std        Median
mat1     5.199297e+14  1.111100e+15  1.110110e+10  4.959953e+14  1.110001e+14
mat2     4.773241e+14  1.111100e+15  1.001110e+11  4.890916e+14  1.105550e+14
abstime  9.231147e+04  2.371240e+05  6.469000e+03  5.446459e+04  8.055450e+04
rt       1.594267e+03  9.305000e+03  6.590000e+02  1.145387e+03  1.089000e+03

In [ ]:
df1.describe()

            trial          mat1  ...           rt        corr
count  180.000000  1.800000e+02  ...   180.000000  180.000000
mean    30.500000  5.199297e+14  ...  1594.266667    0.955556
std     17.366409  4.959953e+14  ...  1145.387225    0.206655
min      1.000000  1.110110e+10  ...   659.000000    0.000000
25%     15.750000  1.000079e+14  ...   896.000000    1.000000
50%     30.500000  1.110001e+14  ...  1089.000000    1.000000
75%     45.250000  1.010103e+15  ...  1940.750000    1.000000
max     60.000000  1.111100e+15  ...  9305.000000    1.000000

[8 rows x 6 columns]

In [ ]:
cols = ['stimid', 'rot', 'cor', 'rt']   # DESCRPTIVE ANALYSIS

mean = df2[cols].mean()
max = df2[cols].max()
min = df2[cols].min()
std = df2[cols].std()
median = df2[cols].median()

frames = { 'Mean': mean, 'Max': max, 'Min': min, 'Std':std, 'Median':median}
pd.DataFrame(frames)

               Mean   Max  Min         Std  Median
stimid     1.500000     2    1    0.500652     1.5
rot        0.500000     4   -3    2.294277     0.5
cor        0.526042     1    0    0.499973     1.0
rt      1470.330729  3003  149  642.198519  1378.0

In [ ]:
df2.describe()

         trialnum        cond      stimid         rot         cor           rt
count  384.000000  384.000000  384.000000  384.000000  384.000000   384.000000
mean    64.500000    0.500000    1.500000    0.500000    0.526042  1470.330729
std     36.997495    0.500652    0.500652    2.294277    0.499973   642.198519
min      1.000000    0.000000    1.000000   -3.000000    0.000000   149.000000
25%     32.750000    0.000000    1.000000   -1.250000    0.000000  1055.500000
50%     64.500000    0.500000    1.500000    0.500000    1.000000  1378.000000
75%     96.250000    1.000000    2.000000    2.250000    1.000000  1869.000000
max    128.000000    1.000000    2.000000    4.000000    1.000000  3003.000000

Extract these dataframes as csv and excel files.

In [ ]:
df1_csv = df1.to_csv('df1.csv', index=False)

In [ ]:
df2_csv = df2.to_csv('df2.csv', index=False)

In [ ]:
df1_excel = df1.to_excel('df1.xlsx', sheet_name='df1-excel')

In [ ]:
df2_excel = df2.to_excel('df1.xlsx', sheet_name='df2-excel')